.leadgroup__content_how-work {
  padding-left: 15.56%;
  padding-right: 23.06%;
}

@media screen and (max-width: 1023px) {
  .leadgroup__content_how-work {
    padding-left: 12%;
    padding-right: 18%;
  }
}

@media screen and (max-width: 767px) {
  .leadgroup__content_how-work {
    padding: 3%;
    grid-template-columns: 45% 1fr;
  }
}

@media screen and (max-width: 424px) {
  .leadgroup__content_how-work {
    display: flex;
  }
}