.occasions__card {
  transition: all 0.3s linear;
}

@media screen and (max-width: 767px) {
  .occasions__card {
    max-width: 48.75%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 424px) {
  .occasions__card {
    max-width: 100%;
    margin-bottom: 24px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  }

  .occasions__card:last-child {
    margin: 0;
  }
}

.occasions__card:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.08);
}