.occasions__subtitle {
  margin: 0 0 64px;
}

@media screen and (max-width: 1023px) {
  .occasions__subtitle {
    margin: 0 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .occasions__subtitle {
    margin: 0 0 20px;
  }
}