.leadgroup__subtitle {
  margin: 0 0 12.04%;
  font-size: 20px;
  line-height: 1.41;
}

@media screen and (max-width: 1023px) {
  .leadgroup__subtitle {
    margin: 0 0 8%;
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .leadgroup__subtitle {
    margin: 0;
  }
}

@media screen and (max-width: 424px) {
  .leadgroup__subtitle {
    font-size: 14px;
  }
}