.best-blog__cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: calc(100%*1170/1440);
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .best-blog__cards {
    width: 90%;
  }
}

@media screen and (max-width: 424px) {
  .best-blog__cards {
    flex-direction: column;
    gap: 10px;
  }
}