.footer__copyright {
  margin: 0;
  font-size: 14px;
  line-height: 140.62%;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 12px;
  }
}

@media screen and (max-width: 424px) {
  .footer__copyright {
    font-size: 10px;
  }
}

.footer__copyright a {
  text-decoration: none;
  color: #000;
}