.header__button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.22;
  color: #F7941E;
  border: 1px solid #F7941E;
  box-sizing: border-box;
  border-radius: 5px;
  padding: calc((43.5px - 22px)/2) 25px;
  margin-right: 15px;
}

@media screen and (max-width: 1023px) {
  .header__button {
    font-size: 14px;
  }
}

@media screen and (max-width: 424px) {
  .header__button {
    font-size: 12px;
    padding: 5px 15px;
  }
}