.best-blog__subtitle {
  margin: 0 0 4.93%;
}

@media screen and (max-width: 1023px) {
  .best-blog__subtitle {
    margin: 0 0 36px;
  }
}

@media screen and (max-width: 424px) {
  .best-blog__subtitle {
    margin: 0 0 20px;
  }
}