.header__burger {
  display: none;
  margin: 0 10px;
}

.header__burger hr {
  width: 35px;
  border: 2px solid #000;
  background-color: #000;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .header__burger {
    display: block;
  }
}

@media screen and (max-width: 424px) {
  .header__burger hr {
    width: 30px;
    border: 2px solid #000;
    margin: 5px 0;
  }
}